h1{
    color: beige;
}
a{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: darkblue;
}
li{
    color: darkslategrey;
}

footer{
    color: darkblue;
}

i{
    color: darkblue;
}


